:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --main-header-color: #2e2f42;
  --main-text-color: #434455;
  --alternative-white-color: #f4f4fd;
  --accent-white-color: #e7e9fc;
  --white-color: #ffffff;
  --icons-static-state: #8e8f99;
  --icons-pressed-green: #31d0aa;
  --modal-background: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--white-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-----------HEADER--------------*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}

.header-address {
  font-style: normal;
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.mobile-header-burger {
  display: block;
  background-color: transparent;
  border: none;
  margin: 24px 0 24px auto;
  cursor: pointer;
}

.mobile-burger-svg {
  stroke: var(--main-header-color);
}

.header-menu {
  display: none;
}
.header-menu-address {
  display: none;
}
.header-menu-item {
}

.header-menu-link {
  display: block;
  padding: 24px 0;
}

.header-logo-span {
  color: var(--main-header-color);
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--pressed-state-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--pressed-state-color);
}

/*-----MOBILE MENU-----*/

.mobile-menu {
  overflow: auto;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  padding-left: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-hidden {
  transform: translateX(100%);
}

.modal-btn.mobile-menu-close-btn {
  position: static;
  margin: 24px 24px 32px auto;
  background-color: var(--alternative-white-color);
  border-color: rgba(46, 47, 66, 0.1);
}

.mobile-soc-container {
}

.mobile-menu-item {
  margin-bottom: 40px;
}
.mobile-menu-link {
  color: var(--main-header-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu-address {
  font-style: normal;
}

.mobile-menu-adr-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-address-link.current-address-link {
  color: var(--primary-brand-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-address-link {
  display: block;
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.mobile-address-soc-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  margin-bottom: 40px;
  align-items: center;
}
.mobile-menu-social-item {
  width: 40px;
  height: 40px;
}
.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-social-icon {
  fill: var(--alternative-white-color);
}

.current {
  position: relative;
  color: var(--pressed-state-color);
}

/*------------WELCOME SECTION--------------*/
.welcome {
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/welcome_background_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.welcome-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  max-width: 320px;
  margin: 0 auto;
  color: var(--white-color);
  margin-bottom: 72px;
}

.welcome-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  cursor: pointer;
  display: block;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.welcome-btn:hover,
.welcome-btn:focus {
  background-color: var(--pressed-state-color);
}

/*----------------BENEFITS--------------*/
.benefits {
  padding: 96px 0;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.benefits-list-item {
  max-width: 396px;
}

.benefits-list-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
  color: var(--main-header-color);
  text-align: center;
}

.benefits-list-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.benefits-icon {
  display: none;
}

/*----------ABOUT US------------*/
.aboutus {
  display: none;
}
/*------------OUR TEAM------------------*/
.team {
  padding: 96px 0;
  background-color: var(--alternative-white-color);
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-list-item {
  background-color: var(--white-color);
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-list-item-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
}

.team-social-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: var(--alternative-white-color);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--pressed-state-color);
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-member {
  padding: 32px 0;
}

/*--------------------CUSTOMERS-----------------*/

.customers {
  padding: 96px 0;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-header-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 72px 16px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.customers-list-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icons-static-state);
  border: 1px solid var(--icons-static-state);
  border-radius: 4px;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

.customer-icon {
  fill: currentColor;
}

/*-------------------FOOTER----------------*/
.page-footer {
  padding: 96px 0;
  background-color: var(--main-header-color);
}

/* .page-footer {
  padding: 100px 0;
} */

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--alternative-white-color);
  max-width: 264px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: var(--alternative-white-color);
}

.footer-subtitle {
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  width: 100%;
  height: 100%;

  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}

/* .footer-social-container {
  margin-right: 80px;
} */

.footer-icon {
  fill: var(--alternative-white-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--icons-pressed-green);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-submit-label {
  width: 100%;
}

.footer-submit-button:hover,
.footer-submit-button:focus {
  background-color: var(--pressed-state-color);
}

.footer-submit-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-submit {
  width: 100%;
}

.footer-submit-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.footer-submit-button {
  max-width: 165px;
  height: 40px;
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.footer-submit-icon {
  margin-left: 16px;
  fill: var(--white-color);
}

.footer-input-container {
  display: flex;
  flex-direction: column;
}
/*----------PORTFOLIO FILTER--------------*/
.portfolio-projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  align-items: center;
  margin-bottom: 48px;
}

/* .portfolio-filter-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
} */

.filter-list-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--alternative-white-color);
  border: 1px solid var(--accent-white-color);
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list-btn:hover,
.filter-list-btn:focus {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*------------PORTFOLIO PROJECTS---------------*/
.project-image-container {
  position: relative;
  overflow: hidden;
}
.project-image-container img {
  display: block;
  height: auto;
  max-width: 100%;
}

.projects-links {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-cover-block {
}

.project-cover-text {
  display: none;
}

.portfolio-projects-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
}

.projects-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--main-header-color);
}

.projects-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.projects-list-item {
}

.project-item-container {
  max-width: 396px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/*----------------BACKDROP------------*/
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 392px;
  min-height: 584px;
  background-color: var(--modal-background);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 16px 24px 16px;
}

.modal-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--main-header-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  fill: var(--main-header-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-white-color);
  position: absolute;
  right: 24px;
  top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  border: none;
  background-color: var(--pressed-state-color);
  fill: var(--white-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-form {
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-textarea {
  margin-bottom: 16px;
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icons-static-state);
  margin-bottom: 4px;
  display: block;
}
.input-modal-container {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--primary-brand-color);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-header-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
  fill: var(--primary-brand-color);
}

.textarea-modal-container {
}

.modal-textarea {
  width: 100%;
  height: 120px;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--primary-brand-color);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.input-modal-container {
}
.input-check {
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.custom-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .modal-check-text span {
  background-color: var(--pressed-state-color);
  fill: var(--alternative-white-color);
  border: none;
}

.input-check:focus + .modal-check-text span,
.input-check:hover + .modal-check-text span {
  border-color: var(--pressed-state-color);
}

.modal-check-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icons-static-state);
}

.privacy-link {
  text-decoration: underline;
  color: var(--primary-brand-color);
}

.modal-btn-submit {
  display: block;
  background-color: var(--primary-brand-color);
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background-color: var(--pressed-state-color);
}
